.banner {
    background: $color-neutral;
    text-align: center;
    padding: 10px;
    &__picto {
        margin-right: 10px;
    }
}

.cover {
    .cover-desc {
        line-height: 1.7;
        margin-bottom: 2rem;
    }
}


.how-it-works {
    .steps {
        .step {
            padding: 1.5rem 1.5rem 1.5rem 0;
            background: $color-neutral-light;
            border-radius: 1rem;
            margin: 0 0 2rem 1rem;
            @include box-shadow;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                background: lighten($color-primary, 30%);
                .picto {
                    color: $color-primary;
                }
            }
            .number {
            
                $size: 25px; // Taille des puces

                display: inline-block;
                width: $size;
                height: $size;
                text-align: center;
                font-size:  $size/1.8;
                line-height: $size;
                color: $color-white;
                position: relative;
                left: -$size/2;
                background: $color-primary;
                border-radius: 45px;
            }
            .picto {
                margin: 0 1.5rem 0 0.5rem;
                font-size: 20px;
            }
        }
    }
}

.restaurant-prev {
    position: relative;
    background: $color-white;
    border-radius: 1rem;
    @include box-shadow;
    margin-bottom: 3rem;
    cursor: pointer;
    .chip {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 7px 15px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 2px;
        color: darken($color-tertiary, 40%);
        background: $color-tertiary;
    }
    img {
        width: 100%;
        height: 200px;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }
    &:hover {
        @include box-shadow (rgba($color-black, .3));        
    }
    .restaurant-desc {
        padding: 15px;
        position: relative;
        h3 {
            margin-bottom: 5px;
        }
        .fav {
            position: absolute;
            font-size: 25px;
            right: 15px;
            top: 15px;
        }
    }
}