@use "sass:math";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.section {
    padding: $layout-margin calc($layout-margin / 3);
    +.section {
        padding-bottom: 0px;
    }
    &--color {
        background: $color-neutral-light;
    }
    &--text-center {
        text-align: center;
    }
    .title {
        margin-top: 0px;
        margin-bottom: 2rem;
    }
}