@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap'); /* Importation Google Fonts Roboto  et Shrikhand */

body {
    font-family: 'Roboto', sans-serif;
    color: $colour-black;
    font-size: 1rem;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

textarea {
    font-family: 'Roboto', sans-serif;
}

button {
    font-family: 'Roboto', sans-serif;
}